@model LionKingBankAccountApp.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>

        @Model.Name <br />
        @Model.Balance.ToString("0.00 Zebra") <br />
        @Model.AnimalType


    </p>
</body>
</html>

